header .cart {
    float: right;
    background: #767676;
    padding: 16px 10px 13px 10px;
    margin-left: 30px;
    min-width: 170px;
    text-align: center;
    cursor: pointer;
    .lib-css(border-radius, 5px, 1);

    .lib-dropdown(
        @_options-selector: ~'.sidebar',
        @_dropdown-list-min-width: 280px,
        @_dropdown-list-position-top: 102px,
        @_dropdown-list-background: #f9f9f9,
        @_dropdown-list-border: false,
        @_dropdown-list-item-border: false,
        @_dropdown-list-z-index: 5
    );

    .lib-icon-font(
        @_icon-font-content: @icon-cart,
        @_icon-font-size: 37px,
        @_icon-font-line-height: 20px,
        @_icon-font-color: @color-white,
        @_icon-font-margin: 0 0 -2px,
        @_icon-font-vertical-align: false
    );
    &:before {
        overflow: visible;
    }

    h3 {
        font-size: 15px;
        line-height: normal;
        font-weight: 500;
        margin-bottom: 1px;
        .lib-css(color, @color-yellow-base);
    }

    .summary {
        font-size: 14px;
        min-height: 20px;
        .lib-css(color, @color-white);
    }

    .cart-header {
        background: #323232;
        padding: 11px 20px;

        .subtotal {
            .lib-css(font-weight, @font-weight__bold);
        }
        .amount {
            float: right;
        }
    }

    .sidebar {
        text-align: left;

        .empty {
            padding: 10px;
            .lib-css(color, @color-black);
        }
    }
}
