header {
    .search {
        float: right;
        clear: both;

        input {
            float: left;
            border-right: 0;
            width: 202px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            box-shadow: none;
        }
    }
}
