header {
    .search {
        float: right;
        clear: both;

        input {
            float: left;
            border: solid 1px #cfcfcf;
            border-right: 0;
            padding: 6px;
            width: 202px;
            height: 32px;
            .lib-css(border-radius, 2px 0 0 2px, 1);
        }
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
