<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Directory\Block\Currency" type="IdealCode\MobileStore\Block\Currency" />
    <preference for="Magento\Checkout\Block\Cart\Sidebar" type="IdealCode\MobileStore\Block\Cart\Sidebar" />

    <type name="Magento\Wishlist\CustomerData\Wishlist">
        <plugin name="idealcode-mobilestore-wishlist" type="IdealCode\MobileStore\CustomerData\Wishlist" />
    </type>
</config>
