.sidebar {
    .compare {
        li {
            & > .image {
                float: left;
                margin-right: 10px;
            }
        }

        .remove {
            float: right;
            margin-left: 10px;
            font-size: 0;

            .lib-icon-font(
                @_icon-font-content: @icon-remove,
                @_icon-font-size: 16px
            );
        }

        .button {
            margin-right: 10px;
        }
        .clear-all {
            text-decoration: none;
            .lib-css(font-weight, @font-weight__bold);
        }
    }
}

.toolbar {
    margin-bottom: 30px;

    .limiter {
        float: right;

        .label {
            display: inline-block;
            margin-right: 6px;
        }
    }

    select {
        min-width: 63px;
        height: 22px;
    }
}

.product-list {
    margin: 0 -15px;

    .lib-clearer();

    > li {
        float: left;
        width: 100%/3;
        padding: 0 15px;
        margin-bottom: 30px;

        .wrap {
            padding: 20px 29px 30px 29px;
            border: solid 1px #cfcfcf;
            .lib-css(border-radius, 6px, 1);
        }

        .image {
            margin: 10px 10px 25px;

            img {
                margin: 0 auto;
            }
        }

        .price-box {
            font-size: 19px;
            color: #333;
            margin-bottom: 6px;

            .special-price {
                color: #fc2a43;
            }
            .old-price {
                font-size: 16px;
                text-decoration: line-through;
                vertical-align: top;
            }
        }

        .name {
            font-size: 15px;
            margin-bottom: 14px;

            a {
                .lib-link(
                    @_link-color: @color-blue-base,
                    @_link-text-decoration: false,
                    @_link-color-hover: #333,
                    @_link-text-decoration-hover: none
                );
            }
        }

        .description {
            margin-bottom: 10px;
            height: 60px;
            overflow: hidden;
        }

        .addto {
            margin-top: 10px;
            .lib-css(font-weight, @font-weight__bold);

            a {
                text-decoration: none;

                &.disabled {
                    cursor: default;
                    .lib-css(color, @link__color);
                }
            }
        }
    }
}

.page-layout-1column .product-list li {
    width: 100%/4;
}
.page-layout-3columns .product-list li {
    width: 100%/2;
}
