button,
.button {
    .lib-button();

    .lib-background-gradient(
        @_background-gradient-color-start: @color-blue-base,
        @_background-gradient-color-end: #02aee0,
        @_background-gradient-direction: vertical,
        @_background-gradient: true,
        @_background-gradient-color-position: false
    );

    box-shadow: 1px 1px 0 #0180a4;
    .lib-css(border-radius, @button__border-radius, 1);

    &:hover {
        box-shadow: 1px 1px 0 #bba600;
    }
}

button.large,
.button.large {
    .lib-button-l();
}

a.button {
    text-decoration: none;
}
