.lib-main-navigation-desktop();

.navigation {
    .lib-css(border-radius, 5px, 1);

    li {
        li {
            border-bottom: 1px dotted #d3d3d3;
            white-space: nowrap;

            &.last {
                border-bottom: 0;
            }
        }
    }
}
