//
//  Typography
//  ---------------------------------------------
@font-size-unit: px;
@font-size__base: 13px;
@font-family__base: 'Roboto','sans-serif';
@font-style__base: false;
@line-height__base: 20px;
@text__color: #b4b4b4;
@page__background-color: #222;

@link__color: #333;
@link__hover__color: @color-blue-base;
@link__visited__color: false;
@link__visited__text-decoration: false;
@link__active__color: false;
@link__active__text-decoration: false;

//
//  Icons
//  ---------------------------------------------
@icons__font-name: FontAwesome;
@icons__font-path: '@{baseDir}fonts/fontawesome-webfont';

@icon-font__line-height: false;
@icon-font__color: false;
@icon-font__display: false;

@icon-cart: '\f07a';
@icon-pointer-down: '\f107';
@icon-pointer-up: '\f106';
@icon-shipping: '\f0d1';

//
//  Forms
//  ---------------------------------------------
@form-element-input__background: false;
@form-element-input__border-color: #cfcfcf;
@form-element-input__border-radius: 2px;
@form-element-input__padding: 6px;
@form-element-input__vertical-align: middle;
@form-element-input__background-clip: false;

@form-element-input__font-size: 12px;
@form-element-input__font-family: false;
@form-element-input__line-height: false;

@form-element-input-placeholder__color: false;
@form-element-input__disabled__opacity: false;

//
//  Buttons
//  ---------------------------------------------
@button__font-family: false;
@button__font-size: 15px;
@button__font-weight: false;
@button__line-height: 320px;
@button__margin: false;
@button__padding: 0 10px;
@button__color: @color-white;
@button__background: false;
@button__border: 0;
@button__border-radius: 2px;

@button__hover__color: #303030;
@button__hover__background: @color-yellow-base;
@button__hover__border: false;
@button__active__color: false;
@button__active__background: false;
@button__active__border: false;

//
//  Dropdowns
//  ---------------------------------------------
@dropdown-list__margin-top: false;
@dropdown-list__position-top: 26px;
@dropdown-list__position-right: 0;
@dropdown-list__pointer: false;
@dropdown-list__border: 1px solid #ddd;
@dropdown-list__shadow: none;
@dropdown-list__z-index: false;

@dropdown-list-item__border: @dropdown-list__border;
@dropdown-list-item__padding: false;
@dropdown-list-item__margin: false;
@dropdown-list-item__hover: false;

@dropdown-toggle-icon__font-size: 12px;
@dropdown-toggle-icon__font-line-height: false;
@dropdown-toggle-icon__font-color: false;
@dropdown-toggle-icon__font-color-hover: false;
@dropdown-toggle-icon__font-color-active: false;
@dropdown-toggle-icon__font-margin: 0 0 0 10px;
@dropdown-toggle-icon__font-vertical-align: false;

//
//  Navigation
//  ---------------------------------------------
@navigation__background: #303030;
@navigation-desktop__font-size: 18px;
@navigation-desktop__font-weight: @font-weight__heavier;

@navigation-desktop-level0-item__line-height: 58px;
@navigation-desktop-level0-item__margin: 0 0 0 20px;
@navigation-desktop-level0-item__padding: false;
@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__text-decoration: false;

@navigation-desktop-level0-item__hover__color: @color-yellow-base;
@navigation-desktop-level0-item__hover__text-decoration: none;
@navigation-desktop-level0-item__active__border-color: false;
@navigation-desktop-level0-item__active__border-style: false;
@navigation-desktop-level0-item__active__border-width: false;

@submenu-desktop__background: @color-white;
@submenu-desktop__border-width: false;
@submenu-desktop__box-shadow: 0 0 15px rgba(0, 0, 0, .18);
@submenu-desktop__font-size: 14px;
@submenu-desktop__font-weight: @font-weight__regular;
@submenu-desktop__min-width: false;
@submenu-desktop__padding: false;
@submenu-desktop-arrow: false;

@submenu-desktop-item__padding: 8px 33px 10px 13px;
@submenu-desktop-item__color: #282828;

@submenu-desktop-item__hover__background: false;
@submenu-desktop-item__hover__color: @link__hover__color;
@submenu-desktop-item__hover__text-decoration: none;
@submenu-desktop-item__active__border-color: false;
@submenu-desktop-item__active__border-style: false;
@submenu-desktop-item__active__border-width: false;
@submenu-desktop-item__active__color: @submenu-desktop-item__hover__color;

//
//  Breadcrumbs
//  ---------------------------------------------
@breadcrumbs__font-size: false;
@breadcrumbs__container-margin: 30px 0;
@breadcrumbs-separator__symbol: '>';
@breadcrumbs-icon__use: false;

//  Links
@breadcrumbs-current__color: false;
@breadcrumbs-link__color: false;
@breadcrumbs-link__text-decoration: false;
@breadcrumbs-link__visited__color: false;
@breadcrumbs-link__visited__text-decoration: false;
@breadcrumbs-link__hover__color: false;
@breadcrumbs-link__hover__text-decoration: none;
@breadcrumbs-link__active__color: false;
@breadcrumbs-link__active__text-decoration: none;
