//
//  Typography
//  ---------------------------------------------
@font-size-unit: px;
@font-size__base: 13px;
@font-family__base: 'Roboto','sans-serif';
@font-style__base: false;
@line-height__base: 20px;
@text__color: #b4b4b4;

@link__color: #333;
@link__hover__color: #00bcf2;
@link__visited__color: false;
@link__visited__text-decoration: false;
@link__active__color: false;
@link__active__text-decoration: false;
