//
//  Typography
//  ---------------------------------------------
@font-size-unit: px;
@font-size__base: 13px;
@font-family__base: 'Roboto','sans-serif';
@font-style__base: false;
@line-height__base: 20px;
@text__color: #b4b4b4;

@link__color: #333;
@link__hover__color: #00bcf2;
@link__visited__color: false;
@link__visited__text-decoration: false;
@link__active__color: false;
@link__active__text-decoration: false;

@heading__font-weight__base: @font-weight__bold;
@heading__line-height__base: 1;
@heading__margin-top__base: 0;
@heading__margin-bottom__base: 70px;

@h1__font-size: ceil((@font-size__base * 1.5));
@h1__font-weight: @font-weight__regular;
@h1__line-height: @heading__line-height__base * 1.15;
@h1__margin-bottom: 0;

@h2__font-size: ceil((@font-size__base * 1.35));
@h2__font-weight: @font-weight__regular;
@h2__line-height: @heading__line-height__base * 1.25;
@h2__margin-top: @heading__margin-top__base;

@h3__font-size: ceil((@font-size__base * 1.2));
@h3__line-height: @heading__line-height__base * 1.25;
@h3__margin-top: @heading__margin-top__base;
@h3__margin-bottom: @heading__margin-bottom__base;

@h4__font-size: ceil((@font-size__base * 1.05));
@h5__font-size: ceil((@font-size__base * 0.9));
@h6__font-size: ceil((@font-size__base * 0.8));
