<!-- ko if: getCartParam('summary_count') -->
    <div class="cart-header">
        <!-- ko foreach: getRegion('subtotalContainer') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="recently" data-bind="text: $t('Recently added item(s):')"></div>
    </div>

    <div class="cart-content">
        <ul id="mini-cart" data-bind="foreach: { data: getCartParam('items'), as: 'item' }">
            <!-- ko foreach: $parent.getRegion($parent.getItemRenderer(item.product_type)) -->
                <!-- ko template: {name: getTemplate(), data: item} --><!-- /ko -->
            <!-- /ko -->
        </ul>
    </div>

    <div class="cart-footer actions">
        <a id="top-cart-btn-checkout"
           data-bind="attr: {class: 'button' + (isAdditionalSidebar($element) ? ' large' : '')}, text: $t('Checkout order')">
        </a>
        <a class="button"
           data-bind="attr: {href: shoppingCartUrl}, visible: !isAdditionalSidebar($element), text: $t('My Cart')">
        </a>
    </div>
<!-- /ko -->

<!-- ko ifnot: getCartParam('summary_count') -->
    <div class="empty" data-bind="text: $t('You have no items in your shopping cart.')"></div>
<!-- /ko -->
