body {
    .lib-css(background, @page__background-color);
}
.page-wrapper {
    .lib-url('images/bg.gif');
    background: url("@{url}") repeat-x;
}
.content {
    width: 1200px;
    margin: 0 auto;
}
header {
    padding: 44px 0 30px 0;
}
.header {
    .lib-clearer();

    .logo {
        float: left;
        margin-top: 23px;
    }
    .header-right {
        float: right;
    }
    .welcome-msg {
        float: right;
        clear: both;
        font-size: 14px;
        color: #00bcf2;
        margin-bottom: 3px;
        min-height: 20px;
    }
    .links {
        float: right;
        clear: both;
        margin-bottom: 9px;
    }
        li {
            float: left;
            font-size: 14px;
            padding-left: 12px;
        }
}
